
{% extends "dashboard.html" %}
{% load static %}
{% block page_title %}
<img height='50' src="{% static 'icones/nova post verde.svg' %}" alt="">
Criar Postagem{% endblock page_title %}
{% block content %}
<h2>Esta é a área de edição do site, onde você pode criar e personalizar suas publicações, classificando-as por categorias.</h2>
<style>   
form {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

label {
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
    color: #333;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease;
}

input:focus, select:focus {
    outline: none;
    border-color: #0078D4;
    box-shadow: 0 0 5px rgba(0, 120, 212, 0.3);
}

input[type="checkbox"] {
    width: auto;    
    scale: 3;
    margin: 10px;
    
}

input[type="file"] {
    padding: 5px;
}

button {
    background-color: #0078D4;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background 0.3s;
    width: 100%;
}

button:hover {
    background-color: #005A9E;
}

</style>



<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}    
    <div class="row">
      <div class="col-md-3">
        <div>
          {{form.titulo.label}}<br>
          {{form.titulo}}
          {{form.titulo.error}}
        </div>
        <div>
          {{form.tipo_publicacao.label}}<br>
          {{form.tipo_publicacao}}
          {{form.tipo_publicacao.error}}
        </div>
        <div>
          {{form.secretario.label}}<br>
          {{form.secretario}}
          {{form.secretario.error}}
        </div>
        <div>
          {{form.em_destaque.label}}<br>
          {{form.em_destaque}}
          {{form.em_destaque.error}}
        </div>
        <div>
          {{form.em_urgentes.label}}<br>
          {{form.em_urgentes}}
          {{form.em_urgentes.error}}
        </div>
        <div>
          {{form.ocultar_titulo_carrocel.label}}<br>
          {{form.ocultar_titulo_carrocel}}
          {{form.ocultar_titulo_carrocel.error}}
        </div>
        <div>
          {{form.imagem.label}}<br>
          {{form.imagem}}
          {{form.imagem.error}}
        </div>
        <div>
          {{form.video.label}}<br>
          {{form.video}}
          {{form.video.error}}
        </div>
        <button type="submit">
          Publicar <i class="fa-regular fa-file-lines"></i>
        </button>
      </div>
      <div class="col-md-9">
        <style>
          .django-ckeditor-widget{width: 100%!important;}
        </style>
        {{form.descricao.label}}<br>
        {{form.descricao}}
        {{form.descricao.error}}
      </div>
    </div>      
    
</form>

{% endblock content %}

