
{% extends "dashboard.html" %}
{% load static %}
{% block page_title %}
  {% if not texto %}
    <img height='50' src="{% static 'icones/linkEdit.png' %}" alt="">
    Criar Links
    <p class="text-muted">
      Abaixo, você pode adicionar links importantes para publicação. Preencha os campos com o nome, URL, ícone opcional e uma breve descrição para facilitar o acesso e a identificação.
    </p>
    {% else %}
    <img height='50' src="{% static 'icones/linkEdit.png' %}" alt="">
    Excluir Links
    <p class="text-muted fs-3 text-center">
      {{texto}}
    </p>
  {% endif %}
{% endblock page_title %}
{% block content %}

<style>   
form {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

label {
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
    color: #333;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease;
}

input:focus, select:focus {
    outline: none;
    border-color: #0078D4;
    box-shadow: 0 0 5px rgba(0, 120, 212, 0.3);
}

input[type="checkbox"] {
    width: auto;    
    scale: 3;
    margin: 10px;
    
}

input[type="file"] {
    padding: 5px;
}

button {
    background-color: #0078D4;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background 0.3s;
    width: 100%;
}

button:hover {
    background-color: #005A9E;
}

</style>



<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}    
    <div class="row">
      <div class="col-md-3">
        <div>
          {{form.nome.label}}<br>
          {{form.nome}}
          {{form.nome.error}}
        </div>
        <div>
          {{form.painel.label}}<br>
          {{form.painel}}
          {{form.painel.error}}
        </div>
        <div>
          {{form.url.label}}<br>
          {{form.url}}
          {{form.url.error}}
        </div>
        <div>
          {{form.icone.label}}<br>
          {{form.icone}}
          {{form.icone.error}}
        </div>
        <button type="submit">
          {% if not bottom  %}
          Publicar <i class="fa-regular fa-file-lines"></i>
          {% else %}
          {{bottom}}
          {% endif %}
        </button>
      </div>
      <div class="col-md-9">
        <style>
          .django-ckeditor-widget{width: 100%!important;}
        </style>
        {{form.descricao.label}}<br>
        {{form.descricao}}
        {{form.descricao.error}}
      </div>
    </div>     
    
</form>
{% endblock content %}

