
{% extends "dashboard.html" %}
{% block page_title %}
<div class="border-start border-green border-5 p-3 mx-0 fs-2 text-green">
<i class="fa-solid fa-link "></i>
Todos os Links Úteis ou de Rodapé
</div>
{% endblock page_title %}
{% block content %}
<h2 >Aqui, você encontra todos os links publicados na seção "Links Úteis" do site, bem como os atalhos do rodapé. Você pode gerenciá-los facilmente, podendo editar, atualizar ou excluir conforme necessário.</h2>
<div class='p-3 m-2 border'>
  <h3>Links Úteis</h2>
  <div class="table-responsive small">
    <table class="table table-striped border shadow">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">URL</th>
          <th scope="col">Descrição</th>
          <th scope="col">Ícone</th>
          <th scope="col">Secretário</th>
          <th scope="col" class='text-center'>Ação</th>
        </tr>
      </thead>
      <tbody>
        {% for link in links  %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{link.nome}}</td>
            <td>{{link.url}}</td>
            <td class="w-50">{{link.descricao|safe}}</td>
            <td style="vertical-align: middle; text-align: center;"><img src="{{link.icone.url}}" alt="" height="50" ></td>
            <td>{{public.secretario}}</td>
            <td class='text-center'><a href="{% url "painel:link_deletePainel" link.id %}">excluir</a> | editar</td>
          </tr>
        {% endfor %}    
      </tbody>
    </table>
  </div>


<h3>Links de Rodapé</h2>      
  <table class="table table-striped border shadow">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">URL</th>
        <th scope="col">Descrição</th>
        <th scope="col">Ícone</th>
        <th scope="col">Secretário</th>
        <th scope="col" class='text-center'>Ação</th>
      </tr>   
    </thead>
    <tbody>
      {% for link in links  %}
        {% if not link.painel  %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{link.nome}}</td>
          <td>{{link.url}}</td>
          <td class="w-50">{{link.descricao|safe}}</td>
          <td style="vertical-align: middle; text-align: center;"><img src="{{link.icone.url}}" alt="" height="50" ></td>
          <td>{{public.secretario}}</td>
          <td class='text-center'>excluir | editar</td>
        </tr>
        {% endif %}
      {% endfor %}    
    </tbody>
  </table>
  </div>
</div>


{% endblock content %}

