{% load static %}
<div class="container-fluid bg-green  px-sm-3 px-md-5 mt-5">
    <div class="row py-4">
        {% with request.session.footer as footer  %}   
            <!--PREFEITURA-->
            {% include "base/partial_html/secretaria/prefeitura.html" %}
            <!-- SECRETARIA -->
                {% include "base/partial_html/secretaria/secretaria.html" %}
        {% endwith %}
         
        <!--
        <div class="col-lg-3 col-md-6 mb-5">
            <h5 class="mb-4 text-white text-uppercase font-weight-bold">Categories</h5>
            <div class="m-n1">
                <a href="" class="btn btn-sm btn-secondary m-1">Politics</a>
                <a href="" class="btn btn-sm btn-secondary m-1">Business</a>
                <a href="" class="btn btn-sm btn-secondary m-1">Corporate</a>
                <a href="" class="btn btn-sm btn-secondary m-1">Business</a>
                <a href="" class="btn btn-sm btn-secondary m-1">Health</a>
                <a href="" class="btn btn-sm btn-secondary m-1">Education</a>
                <a href="" class="btn btn-sm btn-secondary m-1">Science</a>
                <a href="" class="btn btn-sm btn-secondary m-1">Business</a>
                <a href="" class="btn btn-sm btn-secondary m-1">Foods</a>
                <a href="" class="btn btn-sm btn-secondary m-1">Entertainment</a>
                <a href="" class="btn btn-sm btn-secondary m-1">Travel</a>
                <a href="" class="btn btn-sm btn-secondary m-1">Lifestyle</a>
                <a href="" class="btn btn-sm btn-secondary m-1">Politics</a>
                <a href="" class="btn btn-sm btn-secondary m-1">Business</a>
                <a href="" class="btn btn-sm btn-secondary m-1">Corporate</a>
                <a href="" class="btn btn-sm btn-secondary m-1">Business</a>
                <a href="" class="btn btn-sm btn-secondary m-1">Health</a>
                <a href="" class="btn btn-sm btn-secondary m-1">Education</a>
                <a href="" class="btn btn-sm btn-secondary m-1">Science</a>
                <a href="" class="btn btn-sm btn-secondary m-1">Business</a>
                <a href="" class="btn btn-sm btn-secondary m-1">Foods</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h5 class="mb-4 text-white text-uppercase font-weight-bold">Flickr Photos</h5>
            <div class="row">
                <div class="col-4 mb-3">
                    <a href=""><img class="w-100" src="img/news-110x110-1.jpg" alt=""></a>
                </div>
                <div class="col-4 mb-3">
                    <a href=""><img class="w-100" src="img/news-110x110-2.jpg" alt=""></a>
                </div>
                <div class="col-4 mb-3">
                    <a href=""><img class="w-100" src="img/news-110x110-3.jpg" alt=""></a>
                </div>
                <div class="col-4 mb-3">
                    <a href=""><img class="w-100" src="img/news-110x110-4.jpg" alt=""></a>
                </div>
                <div class="col-4 mb-3">
                    <a href=""><img class="w-100" src="img/news-110x110-5.jpg" alt=""></a>
                </div>
                <div class="col-4 mb-3">
                    <a href=""><img class="w-100" src="img/news-110x110-1.jpg" alt=""></a>
                </div>
            </div>
        </div>
        -->
    </div>
</div>
<div class="container-fluid py-4 px-sm-3 px-md-5" style="background: #111111;">
    <p class="m-0 text-center">&copy; <a href="#">Cauan's Tech</a>. Todos os direitos reservados.     
    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/
    <span class=''>Design by <a  href="https://htmlcodex.com">HTML Codex</a></p></span>
    -->
</div>