
{% extends "dashboard.html" %}
{% load static %}
{% block page_title %}
<i class="fa-solid fa-building-flag fs-2"></i>
Informações sobre a Secretaria {% endblock page_title %}
{% block content %}
<h2>Esta é a área de edição do site, onde você pode personalizar as informaçõe acerca da secretaria.</h2>
<style>   
form {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

label {
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
    color: #333;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease;
}

input:focus, select:focus {
    outline: none;
    border-color: #0078D4;
    box-shadow: 0 0 5px rgba(0, 120, 212, 0.3);
}

input[type="checkbox"] {
    width: auto;    
    scale: 3;
    margin: 10px;
    
}

input[type="file"] {
    padding: 5px;
}

button {
    background-color: #0078D4;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background 0.3s;
    width: 100%;
}

button:hover {
    background-color: #005A9E;
}
</style>
<table class='table'>
  <thead>
    <tr>
      <th>Nome</th>              
      <th>Email</th>    
      <th>Endereço</th>
      <th>Telefone</th>
      <th>Pasta</th>
      <th>Ativo</th>
    </tr>
  </thead>
  <tbody>
    {% if not edit %}
      {% for obj in object_list  %}
      <tr>
        <td>{{obj.nome}}</td>
        <td>{{obj.email}}</td>
        <td>{{obj.endereco}}</td>
        <td>{{obj.endereco}}</td>
        <td>{{obj.pasta}}</td>
        <td>{{obj.ativo}}</td>
        <td><a href="{% url "painel:Secretaria_edit" obj.pk %}">Editar</a></td>
      </tr>
      {% endfor %}      
      {% else %}
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}  
        <tr>
          <td>{{form.nome}}{{form.nome.error}}</td>
          <td>{{form.email}}{{form.email.error}}</td>
          <td>{{form.endereco}}{{form.endereco.error}}</td>
          <td>{{form.telefone}}{{form.telefone.error}}</td>
          <td>{{form.pasta}}</td>
          <td>{{form.ativo}}</td>
          <td class='d-flex gap-2 '>
            <a class='btn btn-sm btn-secondary' href="{% url 'painel:Secretaria' %}"> <i class="fa-solid fa-angles-left"></i> Voltar</a>
            <button type="submit">Atualizar <i class="fa-regular fa-file-lines"></i></button>

        </td>
        </tr>
      </form>
    {% endif %}
  </tbody>
</table>


{% endblock content %}

